.timer {
  font-size: 128px;
  font-weight: bold;
  margin: 20px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.progressbar {
  font-size: smaller;
  text-align: center;
  margin: auto;
  display: flex;
  width: 50%;
}

.milliseconds {
  font-size: small;
}
/* (swap colors to make dark mode default) */
/* Dark mode colors */
body {
  color: #fff;
  background-color: #333;
}

/* Light mode colors */
.dark {
  color: #333;
  background-color: #fff;
}

.break {
  color: #fff;
  background-color: tan;
}

.paused {
  color: #fff;
  background-color: rgb(157, 123, 51);
}

a {
  text-decoration: none;
}

.menu-list a {
  color: white; /* change the color of the links to white */
}

.menu-list a:hover {
  color: blue; /* change the color of the links on hover to lightgray */
}
